<!-- portfolio/templates/portfolio/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to My Portfolio</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'ppt_files' %}">PPT Files</a></li>
                <li><a href="{% url 'excel_files' %}">Excel Files</a></li>
                <li><a href="{% url 'python_projects' %}">Python Projects</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
