<!-- portfolio/templates/portfolio/ppt_files.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PPT Files</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>PPT Files</h1>
        </header>
        <main>
            <ul>
                {% for file in files %}
                    <li><a href="{{ file.file.url }}" download>{{ file.title }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url 'home' %}">Back to Home</a>
        </main>
    </div>
</body>
</html>
